# Trick to ignore everything without extension
*
!*.*
!/**/

# allow Makefiles despite lack of extension
!Makefile
!makefile

links

# develoment helpers
.vscode
*.pdf

# c output
*.o
*.bin
*.elf
*.list
*.d
a.out
